In [92]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [93]:
contract_info = pd.read_csv('data/contract_info.csv')
contract_info.info()
contract_info.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33035 entries, 0 to 33034
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            33035 non-null  int64
 1   created_at    33035 non-null  object
 2   method_name   33035 non-null  object
 3   acc           33035 non-null  object
 4   action_name   26473 non-null  object
 5   contract_num  33035 non-null  object
 6   errmsg        8864 non-null   object
 7   gen_id        33035 non-null  int64
 8   inn           33035 non-null  int64
 9   kls           221 non-null    object
 10  lot_id        33035 non-null  int64
 11  ls            33035 non-null  object
 12  mfo           33035 non-null  int64
 13  pay_id        33035 non-null  int64
 14  reg_dat       33035 non-null  object
 15  state         33035 non-null  int64
 16  summa         33035 non-null  int64
 17  version       33035 non-null  int64
 18  request_id    33035 non-null  int64
 19  response_id   33035 non-null  int64
dtypes: int64(11), object(9)
memory usage: 5.0+ MB

,id,created_at,method_name,acc,action_name,contract_num,errmsg,gen_id,inn,kls,lot_id,ls,mfo,pay_id,reg_dat,state,summa,version,request_id,response_id
0,1,2022-07-18 12:37:17.347841,CONTRACT_INFO,20208000000215318001,Утвердить,"129/4,,",NaN,0,200153801,NaN,22110038678978,100021860302337073201054001,493,30093831,2022-07-16 05:00:00.000000,2,2134746385,0,2263535,3584137
1,2,2022-07-18 12:37:34.624062,CONTRACT_INFO,20210000800223338001,Утвердить,24459,NaN,0,200188282,NaN,22110012089456,401722860302307045205110004,545,29841398,2022-07-18 05:00:00.000000,2,73696000000,27,2279358,3584210
2,3,2022-07-18 12:37:34.877982,CONTRACT_INFO,20210000800223338001,Утвердить,24686,NaN,0,200188282,NaN,22110012090517,401722860302307065200110002,545,29854535,2022-07-18 05:00:00.000000,2,42364172900,28,2279357,3584211
3,4,2022-07-18 12:38:07.674218,CONTRACT_INFO,20208000205266851001,Аннулировать,55993,Отменен казначейством. Сотрудник 0,0,307648303,NaN,22111007083776,100022860182277092100075130,1052,30051628,2022-07-06 05:00:00.000000,5,6400000000,0,2176221,3584215
4,5,2022-07-18 12:38:50.065479,CONTRACT_INFO,20208000005233315001,NaN,321/07,11;Шартнома асоси нотугри танланган;,0,307452184,NaN,22110035680430,100022860102247072120054009,1031,0,2022-07-18 05:00:00.000000,3,87500000,0,2277875,3584240
5,6,2022-07-18 12:39:09.871147,CONTRACT_INFO,22636000402611704396,Утвердить,Б-309/2,NaN,0,200613520,NaN,22110010632802,100022860184017083610135001,317,29993781,2022-07-18 05:00:00.000000,2,2472930000,27,2255307,3584247
6,7,2022-07-18 12:39:16.915296,CONTRACT_INFO,20208000305384520001,Утвердить,№53,NaN,0,308456874,NaN,22110012111078,100022860184017092100075139,1061,30101026,2022-07-18 05:00:00.000000,2,14506545100,0,2279389,3584248
7,8,2022-07-18 12:39:55.880802,CONTRACT_INFO,20208000400450774001,NaN,46,11;2-Прямые договора (ЗРУ-684 Ст-71 абз.-3)сог...,0,303263690,NaN,22110002680483,100021860184017073201054006,264,0,2022-07-18 05:00:00.000000,3,599000000,0,2278232,3584268
8,9,2022-07-18 12:41:09.389015,CONTRACT_INFO,20210000200314591001,NaN,732,11;Шартнома суммасига аниклик киритинг!;,0,200349896,NaN,22110038680625,100021860354017073310054001,582,0,2022-07-18 05:00:00.000000,3,495000000,0,2279130,3584290
9,10,2022-07-18 12:41:11.831414,CONTRACT_INFO,20208000805124115001,NaN,591/22-LS-ZX,11;шартнома номери дастурга нотугри критилган....,0,306714958,NaN,22110012113153,304521860184067045990118039,901,0,2022-07-18 05:00:00.000000,3,500057100,0,2277852,3584291

In [94]:
request_etp = pd.read_csv('data/request_etp.csv')
request_etp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18998 entries, 0 to 18997
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           18998 non-null  int64
 1   created_at   18998 non-null  object
 2   etp_id       18998 non-null  int64
 3   method_name  18998 non-null  object
 4   acc          18998 non-null  object
 5   doc_date     18998 non-null  object
 6   lot_id       18998 non-null  int64
 7   month        18998 non-null  int64
 8   organ        18998 non-null  int64
 9   pltf         18998 non-null  int64
 10  sumlot       18998 non-null  int64
 11  request_id   18998 non-null  int64
dtypes: int64(8), object(4)
memory usage: 1.7+ MB

In [95]:
request_etp.head(15)

,id,created_at,etp_id,method_name,acc,doc_date,lot_id,month,organ,pltf,sumlot,request_id
0,1,2022-07-18 12:37:17.539719,1,REQUEST_ETP,100022860352407074110054001,2022-07-18 05:00:00.000000,22111008547304,7,654000082,2,94960000,2279382
1,2,2022-07-18 12:37:17.546925,1,REQUEST_ETP,100021860144017083620217001,2022-07-18 05:00:00.000000,22111008547302,7,508000022,2,105000000,2279383
2,3,2022-07-18 12:37:17.554035,1,REQUEST_ETP,400910860084017094100079005,2022-07-18 05:00:00.000000,22111008547303,7,1297,2,1680000000,2279384
3,4,2022-07-18 12:37:17.561200,1,REQUEST_ETP,400110860272487048210190002,2022-07-18 05:00:00.000000,22111008547305,7,3242,2,2100000000,2279385
4,5,2022-07-18 12:37:47.403384,1,REQUEST_ETP,100021860262737073201054001,2022-07-18 05:00:00.000000,22111008547307,7,573000008,2,166650000,2279395
5,6,2022-07-18 12:37:47.431456,1,REQUEST_ETP,100010860224017092300347001,2022-07-18 05:00:00.000000,22111008547308,7,23585,2,144000000,2279396
6,7,2022-07-18 12:37:47.463301,1,REQUEST_ETP,400622860082287096600056001,2022-07-18 05:00:00.000000,22111008547309,7,478000026,2,416000000,2279397
7,8,2022-07-18 12:38:49.196973,1,REQUEST_ETP,400122860244107092100075005,2022-07-18 05:00:00.000000,22111008547312,7,562000045,2,120000000,2279400
8,9,2022-07-18 12:38:49.211449,1,REQUEST_ETP,400122860262647092100075006,2022-07-18 05:00:00.000000,22111008547313,7,583000090,2,3725000000,2279401
9,10,2022-07-18 12:39:49.019612,1,REQUEST_ETP,400110860272487048210190002,2022-07-18 05:00:00.000000,22111008547314,7,3242,2,4044000000,2279434
10,11,2022-07-18 12:39:49.067575,1,REQUEST_ETP,100021860064017092100075692,2022-07-18 05:00:00.000000,22111008547315,7,451000164,2,18945000000,2279435
11,12,2022-07-18 12:39:49.093000,1,REQUEST_ETP,305022860242127109601018041,2022-07-18 05:00:00.000000,22111008547316,7,56565000003,2,300000000,2279437
12,13,2022-07-18 12:40:48.171484,1,REQUEST_ETP,100022860274197064100110002,2022-07-18 05:00:00.000000,22111008547317,7,590000001,2,500000000,2279466
13,14,2022-07-18 12:40:49.108710,1,REQUEST_ETP,400122860244107092100075005,2022-07-18 05:00:00.000000,22111008547318,7,562000045,2,120000000,2279467
14,15,2022-07-18 12:40:49.127308,1,REQUEST_ETP,100021860144017083620217001,2022-07-18 05:00:00.000000,22111008547321,7,508000022,2,100000000,2279468

In [96]:
claim_info_etp = pd.read_csv('data/claim_info_etp.csv')
claim_info_etp.info()
claim_info_etp.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2551 entries, 0 to 2550
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           2551 non-null   int64
 1   created_at   2551 non-null   object
 2   etp_id       2551 non-null   int64
 3   method_name  2551 non-null   object
 4   date1        2551 non-null   object
 5   date2        2551 non-null   object
 6   dvr          2551 non-null   int64
 7   inn          2551 non-null   int64
 8   kls          2551 non-null   object
 9   lot_id       2551 non-null   int64
 10  organ        2551 non-null   int64
 11  proc_id      2551 non-null   int64
 12  purpose      2551 non-null   object
 13  srok         2551 non-null   int64
 14  summa        2551 non-null   int64
 15  request_id   2551 non-null   int64
dtypes: int64(10), object(6)
memory usage: 319.0+ KB

,id,created_at,etp_id,method_name,date1,date2,dvr,inn,kls,lot_id,organ,proc_id,purpose,srok,summa,request_id
0,1,2022-07-18 12:37:17.517075,1,CLAIM_INFO_ETP,2022-07-18 05:00:00.000000,2022-07-18 05:00:00.000000,3,200694002,100022860102327092100075118,22110012124417,489000219,2,В электронном виде,10,7040000000,2279380
1,2,2022-07-18 12:37:17.526621,1,CLAIM_INFO_ETP,2022-07-18 05:00:00.000000,2022-07-18 05:00:00.000000,3,200701260,305122860102337109602018001,22110012124414,57484000002,2,В электронном виде,10,898165100,2279381
2,3,2022-07-18 12:38:49.228645,1,CLAIM_INFO_ETP,2022-07-18 05:00:00.000000,2022-07-18 05:00:00.000000,3,200162514,100022860302127092100075062,22110012124418,615000142,2,В электронном виде,10,18122927800,2279402
3,4,2022-07-18 12:39:48.568961,1,CLAIM_INFO_ETP,2022-07-18 05:00:00.000000,2022-07-18 05:00:00.000000,3,204484309,100022860032107045204110007,22110012124421,440000001,2,В электронном виде,10,1196299800,2279433
4,5,2022-07-18 12:39:49.084930,1,CLAIM_INFO_ETP,2022-07-18 05:00:00.000000,2022-07-18 05:00:00.000000,3,200694002,100022860102327092100075118,22110012124420,489000219,2,В электронном виде,10,8009416600,2279436
5,6,2022-07-18 12:42:47.664720,1,CLAIM_INFO_ETP,2022-07-18 05:00:00.000000,2022-07-18 05:00:00.000000,3,200294928,100022860032327096100075012,22110012124430,449000224,2,В электронном виде,10,450000000,2279476
6,7,2022-07-18 12:43:20.354770,4,CLAIM_INFO_ETP,1970-01-01 06:00:00.000000,1970-01-01 06:00:00.000000,3,304899935,304521860304087045129118001,22411006015056,49607000005,1,"«Farg‘ona viloyati, Quvasoy shaxar “Bunyodkor”...",40,456900000000,48824
7,8,2022-07-18 12:44:47.474344,1,CLAIM_INFO_ETP,2022-07-18 05:00:00.000000,2022-07-18 05:00:00.000000,3,206808289,301821860102247065200110004,22110012124432,20481000029,2,В электронном виде,10,9417475700,2279500
8,9,2022-07-18 12:48:47.997551,1,CLAIM_INFO_ETP,2022-07-18 05:00:00.000000,2022-07-18 05:00:00.000000,3,201455535,100010860082287042402170001,22110012124448,1840,2,В электронном виде,10,18000000000,2279529
9,10,2022-07-18 12:49:49.040789,1,CLAIM_INFO_ETP,2022-07-18 05:00:00.000000,2022-07-18 05:00:00.000000,3,200286343,100022860032277092100075056,22110012124452,446000130,2,В электронном виде,10,4275600000,2279542

In [97]:
#count how many missing values in each column
contract_info.isnull().sum()

id                  0
created_at          0
method_name         0
acc                 0
action_name      6562
contract_num        0
errmsg          24171
gen_id              0
inn                 0
kls             32814
lot_id              0
ls                  0
mfo                 0
pay_id              0
reg_dat             0
state               0
summa               0
version             0
request_id          0
response_id         0
dtype: int64

In [98]:
contract_info['action_name'].value_counts()

Утвердить                            24170
Аннулировать                          1593
Отклонение Казначейством               645
Отмена и Восстановление из архива       65
Name: action_name, dtype: int64

In [99]:
contract_info['action_name'].isna().sum()

6562

In [100]:
contract_info['errmsg'].value_counts()

Отменен казначейством. Сотрудник 0                                                 1593
01999;Бошка сабаблар;                                                               185
11;НДС хато;                                                                         93
01020;Шартнома максади нотўгри ёзилган.;                                             86
4;Электрон савдоларсиз тузилган шартномалар (конун талабларига зид равишда);         81
                                                                                   ...
11;ошибка основание для договора  ;                                                   1
11;ягона етказиб берувчи бн узотинг;                                                  1
11;Спецификациядаги пиридоксин коди хато. Текширинг! ;                                1
11;шартнома номери мос эмас когоз шартнома бн  реквизитлар тулик тулдирилмаган;       1
11;Дата контракта--18.07-эмас 08 ку ва сумма суз б-н хато;                            1
Name: errmsg, Length: 4709, dtype: int64

In [101]:
contract_info['kls'].value_counts()

400110860262807096300079002    27
400110860262697096200056001    19
400110860262697094100079002    13
400110860262697096200009001     8
400110860262667049990158002     7
                               ..
400110860262667096300045001     1
470010860122167045121118001     1
470010860102357045193118002     1
400122860272337065200110001     1
400110860244017084200137001     1
Name: kls, Length: 96, dtype: int64

In [102]:
#top 10 highest sum with lot_id and action_name
contract_info.sort_values(by='summa',ascending=False).head(10)

,id,created_at,method_name,acc,action_name,contract_num,errmsg,gen_id,inn,kls,lot_id,ls,mfo,pay_id,reg_dat,state,summa,version,request_id,response_id
24031,24070,2022-07-25 12:57:02.428946,CONTRACT_INFO,22604000800177786998,NaN,221112/1-7,11;НДС сумма нотугри курсатилган ;,0,200666494,NaN,22110010332766,100021860102357042402170002,440,0,2022-07-25 05:00:00.000000,3,69869537295000,33,2360450,3924696
24200,24239,2022-07-25 12:57:04.451689,CONTRACT_INFO,22604000800177786998,Утвердить,221112/1-7,NaN,0,200666494,NaN,22110010332766,100021860102357042402170002,440,29429629,2022-07-25 05:00:00.000000,2,69869537295000,34,2361244,3925516
28223,28262,2022-07-26 11:02:15.490119,CONTRACT_INFO,22604000300487303998,Утвердить,277-2/6,NaN,0,201188400,NaN,22110010332824,100010860062047042402170005,440,29429742,2022-07-26 05:00:00.000000,2,55628389440000,27,2370753,3944770
23048,23087,2022-07-25 12:56:47.900797,CONTRACT_INFO,22604000500427199998,NaN,6846966/2 ДС-7,11;Сумма хато ;,0,200475661,NaN,22110010299462,100021860224017042402170007,440,0,2022-07-25 05:00:00.000000,3,49621667355000,35,2356511,3918255
23328,23367,2022-07-25 12:56:50.752130,CONTRACT_INFO,22604000500427199998,Утвердить,6846966/2 ДС-7,NaN,0,200475661,NaN,22110010299462,100021860224017042402170007,440,29376880,2022-07-25 05:00:00.000000,2,49621667355000,36,2357120,3919563
23343,23382,2022-07-25 12:56:50.875471,CONTRACT_INFO,23202000200510058001,NaN,15600350/3,11;шартнома юрист имзоси курсатилаган;,0,200048685,NaN,22110010353597,100021860144017042402170008,224,0,2022-07-22 05:00:00.000000,3,44061695464600,27,2343246,3919623
24304,24343,2022-07-25 12:57:05.949019,CONTRACT_INFO,22604000900510058998,Утвердить,15600350/3/1/4,NaN,0,200048685,NaN,22110010353597,100021860144017042402170008,440,29461554,2022-07-25 05:00:00.000000,2,44061695464600,29,2361546,3925974
26993,27032,2022-07-25 16:52:01.017742,CONTRACT_INFO,22604000300306363998,Утвердить,22/95 КК №5,NaN,0,200002553,NaN,22110010364508,100010860122167042402170003,440,29473982,2022-07-25 05:00:00.000000,2,16589672405000,27,2369275,3940101
16199,16200,2022-07-22 16:33:27.023804,CONTRACT_INFO,22604000800215289998,Утвердить,48/8,NaN,0,200144930,NaN,22110010348795,100021860304017042402170009,440,29456780,2022-07-22 05:00:00.000000,2,14896613715000,32,2341662,3899864
13902,13902,2022-07-22 12:46:15.424561,CONTRACT_INFO,23202000000306363001,Утвердить,22/95 КК№4,NaN,0,200002553,NaN,22110010364508,100010860122167042402170003,207,29473982,2022-07-21 05:00:00.000000,2,13386272405000,26,2328490,3890024

In [103]:
#2-утвержден; 3-отменен результатата; 5-аннулирован договор; 40-договор отклонён Казначейством, 44 - Отмена и Восстановление из архива
contract_info['state'].value_counts()

2     24171
3      6561
5      1593
40      645
44       65
Name: state, dtype: int64

In [104]:
#extract only rows where kls is the same
contract_info.loc[contract_info['kls'] == '400110860262807096300079002']

,id,created_at,method_name,acc,action_name,contract_num,errmsg,gen_id,inn,kls,lot_id,ls,mfo,pay_id,reg_dat,state,summa,version,request_id,response_id
4929,4929,2022-07-19 17:19:45.046860,CONTRACT_INFO,23402000300100001010,NaN,12,11;Мажбурият тури хато;,0,201654145,400110860262807096300079002,22110049682886,400910860034017094100079004,14,0,2022-07-19 05:00:00.000000,3,23830200,0,2292014,3810773
6640,6639,2022-07-20 12:30:05.740767,CONTRACT_INFO,23402000300100001010,NaN,45-2022,11;1. Электрон равишда юборилган юридик мажбур...,0,201654145,400110860262807096300079002,22110032685003,400910860272487094100079001,14,0,2022-07-19 05:00:00.000000,3,450000000,0,2298556,3823643
7841,7841,2022-07-20 17:37:34.103370,CONTRACT_INFO,23402000300100001010,NaN,45-2022,11;1. Шартнома спецификацияси нотугри 2. Това...,0,201654145,400110860262807096300079002,22110036687839,400910860272487094100079001,14,0,2022-07-20 05:00:00.000000,3,450000000,0,2309186,3835393
8952,8952,2022-07-21 09:15:51.228854,CONTRACT_INFO,23402000300100001010,NaN,40/2022,11;1) Основание для договора хато 2) Договорд...,0,201654145,400110860262807096300079002,22110001675170,400910860262947094100079003,14,0,2022-07-15 05:00:00.000000,3,3217500000,0,2245182,3840247
13004,13004,2022-07-22 11:01:52.693096,CONTRACT_INFO,23402000300100001010,NaN,1,1;Махсус ахборот порталига эълон жойлаштирилма...,0,201654145,400110860262807096300079002,22110036694216,400110860144017094100079001,14,0,2022-07-22 05:00:00.000000,3,2700000000,0,2333414,3884708
13192,13193,2022-07-22 11:10:43.187521,CONTRACT_INFO,23402000300100001010,NaN,41/2022,1;Махсус ахборот порталига эълон жойлаштирилма...,0,201654145,400110860262807096300079002,22110036694799,400910860262947094100079001,14,0,2022-07-22 05:00:00.000000,3,1800000000,0,2333971,3885606
13751,13752,2022-07-22 12:19:47.478201,CONTRACT_INFO,23402000300100001010,NaN,61/2022,11;Учредитель таъсисчи нотугри курсатилган;,0,201654145,400110860262807096300079002,22110036695462,400910860224017094100079003,14,0,2022-07-22 05:00:00.000000,3,2700000000,0,2335917,3888923
15562,15563,2022-07-22 15:54:23.041933,CONTRACT_INFO,23402000300100001010,NaN,6/2022,11;основанияси кате корсетилген ;,0,201654145,400110860262807096300079002,22110032696604,400910860354017094100079002,14,0,2022-07-22 05:00:00.000000,3,3420000000,0,2340355,3897573
15712,15713,2022-07-22 16:04:02.468362,CONTRACT_INFO,23402000300100001010,NaN,16/07,"11;2 комер.предложения юкланг, ички баённома ю...",0,201654145,400110860262807096300079002,22110014695835,400110860262877096200079001,14,0,2022-07-22 05:00:00.000000,3,71780800,0,2337088,3898065
16143,16144,2022-07-22 16:28:11.898879,CONTRACT_INFO,23402000300100001010,NaN,8,11;основанияга ва детальга Постаневления КабМи...,0,201654145,400110860262807096300079002,22110014694767,400910860262877094100079006,14,0,2022-07-22 05:00:00.000000,3,194613300,0,2333928,3899611
16282,16283,2022-07-22 16:41:35.854151,CONTRACT_INFO,23402000300100001010,NaN,66/2022,11;Режа жадвални тугирлаб юборинг.;,0,201654145,400110860262807096300079002,22110036697238,400110860334017094100054001,14,0,2022-07-22 05:00:00.000000,3,1350000000,0,2342292,3900267
16460,16461,2022-07-22 16:53:29.999439,CONTRACT_INFO,23402000300100001010,NaN,49/2022,11;шартнома реквизети бошка;,0,201654145,400110860262807096300079002,22110036696602,400910860184017094100079006,14,0,2022-07-22 05:00:00.000000,3,1125000000,0,2340353,3900949
16591,16591,2022-07-22 17:05:58.313602,CONTRACT_INFO,23402000300100001010,NaN,60/2022,7;Харажатлар моддаси нотугри.;,0,201654145,400110860262807096300079002,22110036696780,400910860244137094100079001,14,0,2022-07-22 05:00:00.000000,3,225000000,0,2340913,3901595
17668,17669,2022-07-22 19:17:23.075388,CONTRACT_INFO,23402000300100001010,NaN,53/2022,11;ШХВ хато;,0,201654145,400110860262807096300079002,22110036697498,400910860224017094100079002,14,0,2022-07-22 05:00:00.000000,3,1125000000,0,2342993,3904701
23255,23294,2022-07-25 12:56:50.383270,CONTRACT_INFO,23402000300100001010,NaN,6/2022,11;детали кате корсетилген ;,0,201654145,400110860262807096300079002,22110036696867,400910860354017094100079002,14,0,2022-07-22 05:00:00.000000,3,3420000000,0,2341153,3919431
23464,23503,2022-07-25 12:56:52.264959,CONTRACT_INFO,23402000300100001010,NaN,8,"11;Основание хато, тулик курсатинг: Прямые дог...",0,201654145,400110860262807096300079002,22110067697460,400910860262877094100079006,14,0,2022-07-22 05:00:00.000000,3,194613300,0,2342834,3920316
23561,23600,2022-07-25 12:56:56.027015,CONTRACT_INFO,23402000300100001010,NaN,64/200,11;Шартнома раками мос эмас;,0,201654145,400110860262807096300079002,22110036698142,400910860262667094100079001,14,0,2022-07-25 05:00:00.000000,3,1800000000,0,2347315,3920973
24146,24184,2022-07-25 12:57:03.692453,CONTRACT_INFO,23402000300100001010,NaN,45-2022,"11;1. Товар (иш, хизмат) коди нотўгри танланга...",0,201654145,400110860262807096300079002,22110036698921,400910860272487094100079001,14,0,2022-07-25 05:00:00.000000,3,450000000,0,2357482,3925156
24364,24403,2022-07-25 12:57:07.000020,CONTRACT_INFO,23402000300100001010,NaN,8,11;основание хато;,0,201654145,400110860262807096300079002,22110068699113,400910860262877094100079006,14,0,2022-07-25 05:00:00.000000,3,194613300,0,2359648,3926323
24997,25036,2022-07-25 13:27:51.544300,CONTRACT_INFO,23402000300100001010,NaN,73/2022,11;uchreditel O`z Res oliy va o`rta maxsus ta`...,0,201654145,400110860262807096300079002,22110036699324,400110860222207094100082001,14,0,2022-07-25 05:00:00.000000,3,900000000,0,2360288,3930153
25175,25214,2022-07-25 14:04:00.438885,CONTRACT_INFO,23402000300100001010,NaN,13,11;асос хато;,0,201654145,400110860262807096300079002,22110029699599,400910860144017094100079006,14,0,2022-07-25 05:00:00.000000,3,170783100,0,2361205,3931846
25641,25680,2022-07-25 14:58:27.944470,CONTRACT_INFO,23402000300100001010,NaN,73/2022,11;Шартнома шартлари мос эмас;,0,201654145,400110860262807096300079002,22110036700626,400110860222207094100082001,14,0,2022-07-25 05:00:00.000000,3,900000000,0,2365369,3934155
25728,25767,2022-07-25 15:06:58.122068,CONTRACT_INFO,23402000300100001010,NaN,16/07,"11;детальда шартнома предметини курсатинг, шар...",0,201654145,400110860262807096300079002,22110001700784,400110860262877096200079001,14,0,2022-07-25 05:00:00.000000,3,71780800,0,2365870,3934483
27022,27061,2022-07-25 16:53:19.092089,CONTRACT_INFO,29896000000000014029,NaN,13,11;статя;,0,201654145,400110860262807096300079002,22110014701919,400910860144017094100079006,14,0,2022-07-25 05:00:00.000000,3,170783100,0,2368977,3940187
30570,30609,2022-07-26 14:46:43.653271,CONTRACT_INFO,29896000000000014029,NaN,62/2022,"11;песификация нотугри, подписка деб олинг;",0,201654145,400110860262807096300079002,22110036704131,400110860064017094100079011,14,0,2022-07-26 05:00:00.000000,3,450000000,0,2375168,3956131
30587,30626,2022-07-26 14:49:48.588264,CONTRACT_INFO,29896000000000014029,NaN,59/2022,11;1. Юридик мажбуриятнинг олдиндан тўлов микд...,0,201654145,400110860262807096300079002,22110036704008,400910860262697094100079001,14,0,2022-07-26 05:00:00.000000,3,2250000000,0,2374878,3956209
31993,32032,2022-07-26 17:25:34.511785,CONTRACT_INFO,29896000000000014029,NaN,70/2022,11;НДС хато;,0,201654145,400110860262807096300079002,22110036704375,400910860304057094100079003,14,0,2022-07-26 05:00:00.000000,3,337500000,0,2375630,3964359

In [105]:
contract_info['lot_id'].value_counts()

22111008440538    17
22111008064083    17
22111008440557    17
22111008373266    17
22111008294432    17
                  ..
22110061691921     1
22110010691661     1
22110038689494     1
22110043691235     1
22111008566351     1
Name: lot_id, Length: 29491, dtype: int64

In [106]:
#how many unique lot_id
contract_info['lot_id'].nunique()

29491

In [107]:
contract_info.drop(['method_name', 'gen_id'], axis=1, inplace=True)

In [108]:
resultat_method = pd.read_csv('data/resultat_method.csv')
resultat_method.info()
resultat_method.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53805 entries, 0 to 53804
Data columns (total 40 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              53805 non-null  int64
 1   created_at      53805 non-null  object
 2   etp_id          53805 non-null  int64
 3   method_name     53805 non-null  object
 4   p_avans         53616 non-null  float64
 5   avans_day       53805 non-null  int64
 6   beneficiar      53805 non-null  object
 7   contract_beg    53805 non-null  object
 8   contract_dat    53805 non-null  object
 9   contract_end    53805 non-null  object
 10  contract_id     53805 non-null  int64
 11  contract_num    53805 non-null  object
 12  dvr             53805 non-null  int64
 13  gen_id          53805 non-null  int64
 14  inn             53805 non-null  int64
 15  lot_date1       31984 non-null  object
 16  lot_date2       31984 non-null  object
 17  lot_id          53805 non-null  int64
 18  ls              53805 non-null  object
 19  maloy           53805 non-null  object
 20  organ           53805 non-null  int64
 21  pnfl            2484 non-null   float64
 22  proc_id         53805 non-null  int64
 23  purpose         53805 non-null  object
 24  raschot         53805 non-null  int64
 25  reestr_id       23864 non-null  float64
 26  spok            53805 non-null  int64
 27  sum_nds         29808 non-null  float64
 28  p_summa         53805 non-null  int64
 29  vendor_acc      53136 non-null  object
 30  vendor_bank     53805 non-null  int64
 31  vendor_country  38 non-null     object
 32  vendor_foreign  38 non-null     object
 33  vendor_info     38 non-null     object
 34  vendor_inn      53720 non-null  float64
 35  vendor_kls      1100 non-null   object
 36  vendor_name     53783 non-null  object
 37  vendor_terr     53805 non-null  int64
 38  version         53805 non-null  int64
 39  request_id      53805 non-null  int64
dtypes: float64(5), int64(17), object(18)
memory usage: 16.4+ MB

,id,created_at,etp_id,method_name,p_avans,avans_day,beneficiar,contract_beg,contract_dat,contract_end,...,vendor_bank,vendor_country,vendor_foreign,vendor_info,vendor_inn,vendor_kls,vendor_name,vendor_terr,version,request_id
0,1,2022-07-18 12:37:17.705631,1,RESULTAT,8.117345e+08,20,-,2022-07-18 05:00:00.000000,2022-07-18 05:00:00.000000,2022-12-31 05:00:00.000000,...,1097,NaN,NaN,NaN,307580294.0,NaN,HEALTH PHARM PHARMACY MAS`ULIYATI CHEKLANGAN J...,14212,0,2279386
1,2,2022-07-18 12:37:17.736219,1,RESULTAT,1.500000e+07,30,-,2022-07-15 05:00:00.000000,2022-07-15 05:00:00.000000,2022-12-31 05:00:00.000000,...,364,NaN,NaN,NaN,300603672.0,NaN,MAGISTRAL GAZ SERVIS MAS'ULIYATI CHEKLANGAN JA...,24228,0,2279387
2,3,2022-07-18 12:37:17.742055,1,RESULTAT,5.687010e+07,10,-,2022-07-18 05:00:00.000000,2022-07-18 05:00:00.000000,2022-12-31 05:00:00.000000,...,1097,NaN,NaN,NaN,307580294.0,NaN,HEALTH PHARM PHARMACY,14212,0,2279388
3,4,2022-07-18 12:37:17.750162,1,RESULTAT,4.351964e+09,30,-,2022-07-14 05:00:00.000000,2022-07-14 05:00:00.000000,2022-12-31 05:00:00.000000,...,1061,NaN,NaN,NaN,308456874.0,NaN,ООО WHITE WAY OF SAMARKAND,18401,0,2279389
4,5,2022-07-18 12:37:17.758858,1,RESULTAT,4.560000e+08,10,-,2022-06-28 05:00:00.000000,2022-06-28 05:00:00.000000,2022-12-31 05:00:00.000000,...,426,NaN,NaN,NaN,205570779.0,NaN,TIKUV-ZIYO-FAYZ,26294,0,2279390
5,6,2022-07-18 12:37:17.769763,1,RESULTAT,2.845500e+08,15,-,2022-06-13 05:00:00.000000,2022-06-13 05:00:00.000000,2022-12-31 05:00:00.000000,...,826,NaN,NaN,NaN,305285654.0,NaN,IDEAL OFFICE MAS`ULIYATI CHEKLANGAN JAMIYAT,26283,0,2279391
6,7,2022-07-18 12:37:17.788771,1,RESULTAT,7.605000e+07,30,-,2022-06-23 05:00:00.000000,2022-06-23 05:00:00.000000,2022-12-31 05:00:00.000000,...,1038,NaN,NaN,NaN,201298295.0,NaN,ФИРМА АСНАЛ,35401,0,2279392
7,8,2022-07-18 12:37:17.795805,1,RESULTAT,5.807732e+07,10,-,2022-07-16 05:00:00.000000,2022-07-16 05:00:00.000000,2022-12-31 05:00:00.000000,...,895,NaN,NaN,NaN,200625846.0,NaN,АКЦИОНЕРНОЕ ОБЩЕСТВО TOSHKENT VILOYATI DORI-DA...,27401,0,2279393
8,9,2022-07-18 12:37:17.801789,4,RESULTAT,1.253160e+09,30,Б.Шокиров,2022-07-06 05:00:00.000000,2022-07-06 05:00:00.000000,2022-12-31 05:00:00.000000,...,1037,NaN,NaN,NaN,203580031.0,NaN,Асфалти Бетон ХК,1710,484,48821
9,10,2022-07-18 12:38:12.540860,4,RESULTAT,1.365532e+11,30,С.Яхёев,2022-07-01 05:00:00.000000,2022-07-01 05:00:00.000000,2022-12-31 05:00:00.000000,...,88,NaN,NaN,NaN,301642521.0,NaN,Гиждувон Говшун Махсус курилиш монтаж,1706,0,48822

In [109]:
resultat_method.nunique()

id                53805
created_at        53805
etp_id                4
method_name           1
p_avans           10448
avans_day            70
beneficiar          246
contract_beg        221
contract_dat        211
contract_end         84
contract_id        2199
contract_num      23116
dvr                   3
gen_id                1
inn                5212
lot_date1           151
lot_date2           145
lot_id            36451
ls                11517
maloy                 2
organ              5694
pnfl                379
proc_id               5
purpose           20826
raschot               3
reestr_id         22355
spok                130
sum_nds            7583
p_summa           16236
vendor_acc         8397
vendor_bank         836
vendor_country        2
vendor_foreign        3
vendor_info           3
vendor_inn         7301
vendor_kls          241
vendor_name        8561
vendor_terr         236
version             282
request_id        53805
dtype: int64

In [110]:
resultat_method.drop(['method_name', 'gen_id'], axis=1, inplace=True)

In [111]:
#merhe contract_info and resultat_method on lot_id
df_lot = pd.merge(contract_info,resultat_method, on='lot_id')

In [112]:
df_lot.info()
df_lot.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58198 entries, 0 to 58197
Data columns (total 55 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_x            58198 non-null  int64
 1   created_at_x    58198 non-null  object
 2   acc             58198 non-null  object
 3   action_name     49220 non-null  object
 4   contract_num_x  58198 non-null  object
 5   errmsg          10414 non-null  object
 6   inn_x           58198 non-null  int64
 7   kls             236 non-null    object
 8   lot_id          58198 non-null  int64
 9   ls_x            58198 non-null  object
 10  mfo             58198 non-null  int64
 11  pay_id          58198 non-null  int64
 12  reg_dat         58198 non-null  object
 13  state           58198 non-null  int64
 14  summa           58198 non-null  int64
 15  version_x       58198 non-null  int64
 16  request_id_x    58198 non-null  int64
 17  response_id     58198 non-null  int64
 18  id_y            58198 non-null  int64
 19  created_at_y    58198 non-null  object
 20  etp_id          58198 non-null  int64
 21  p_avans         58186 non-null  float64
 22  avans_day       58198 non-null  int64
 23  beneficiar      58198 non-null  object
 24  contract_beg    58198 non-null  object
 25  contract_dat    58198 non-null  object
 26  contract_end    58198 non-null  object
 27  contract_id     58198 non-null  int64
 28  contract_num_y  58198 non-null  object
 29  dvr             58198 non-null  int64
 30  inn_y           58198 non-null  int64
 31  lot_date1       43544 non-null  object
 32  lot_date2       43544 non-null  object
 33  ls_y            58198 non-null  object
 34  maloy           58198 non-null  object
 35  organ           58198 non-null  int64
 36  pnfl            1253 non-null   float64
 37  proc_id         58198 non-null  int64
 38  purpose         58198 non-null  object
 39  raschot         58198 non-null  int64
 40  reestr_id       40225 non-null  float64
 41  spok            58198 non-null  int64
 42  sum_nds         45793 non-null  float64
 43  p_summa         58198 non-null  int64
 44  vendor_acc      58123 non-null  object
 45  vendor_bank     58198 non-null  int64
 46  vendor_country  151 non-null    object
 47  vendor_foreign  151 non-null    object
 48  vendor_info     151 non-null    object
 49  vendor_inn      58121 non-null  float64
 50  vendor_kls      2499 non-null   object
 51  vendor_name     58123 non-null  object
 52  vendor_terr     58198 non-null  int64
 53  version_y       58198 non-null  int64
 54  request_id_y    58198 non-null  int64
dtypes: float64(5), int64(25), object(25)
memory usage: 24.9+ MB

,id_x,created_at_x,acc,action_name,contract_num_x,errmsg,inn_x,kls,lot_id,ls_x,...,vendor_bank,vendor_country,vendor_foreign,vendor_info,vendor_inn,vendor_kls,vendor_name,vendor_terr,version_y,request_id_y
0,7,2022-07-18 12:39:16.915296,20208000305384520001,Утвердить,№53,NaN,308456874,NaN,22110012111078,100022860184017092100075139,...,1061,NaN,NaN,NaN,308456874.0,NaN,ООО WHITE WAY OF SAMARKAND,18401,0,2279389
1,14,2022-07-18 12:42:12.756252,20208000900896466001,Утвердить,470513,NaN,305630526,NaN,22111008540404,100022860062047042133250001,...,673,NaN,NaN,NaN,305630526.0,NaN,ЧП RAXMATJON RAVNAQI OMADI,6204,0,2279441
2,15,2022-07-18 12:42:15.253240,20218000500502533001,Утвердить,470514,NaN,426479518,NaN,22111008536280,401421860064017073101054002,...,116,NaN,NaN,NaN,426479518.0,NaN,ЭГАМОВ ТУЛКИН ЮСУФОВИЧ,6401,0,2279442
3,16,2022-07-18 12:42:16.953394,20208000205479082001,Утвердить,470517,NaN,309197974,NaN,22111008543957,305022860182277109601018001,...,368,NaN,NaN,NaN,309197974.0,NaN,IDEAL SMART SERVIS 111 MCHJ,26262,0,2279449
4,17,2022-07-18 12:42:17.194542,20208000105310688001,Утвердить,470518,NaN,307955150,NaN,22111008543949,100022860272487065200110002,...,1165,NaN,NaN,NaN,307955150.0,NaN,ООО AUTO BOUTIQUE,26262,0,2279450
5,18,2022-07-18 12:42:19.698155,20208000900406991001,Утвердить,470520,NaN,303105260,NaN,22111008543920,100010860262947092100075035,...,1159,NaN,NaN,NaN,303105260.0,NaN,GRAND PAPIRUSXK,27419,0,2279451
6,19,2022-07-18 12:42:19.941679,20208000005406748001,Утвердить,470523,NaN,308604737,NaN,22111008543938,305022860182277109601018001,...,283,NaN,NaN,NaN,308604737.0,NaN,ООО MEGA TEXNO DILLER,18401,0,2279452
7,20,2022-07-18 12:42:20.185187,20208000004382807001,Утвердить,470524,NaN,205435493,NaN,22111008543953,400322860262697072120054014,...,963,NaN,NaN,NaN,205435493.0,NaN,Xalq Nashriyoti,26280,0,2279453
8,21,2022-07-18 12:42:20.428933,20214000200155767001,Утвердить,470526,NaN,201913337,NaN,22111008543924,100021860304017073201054001,...,905,NaN,NaN,NaN,201913337.0,NaN,JURABEK LABORATORIES СП ООО,26294,0,2279454
9,22,2022-07-18 12:42:20.672779,20208000200772184002,Утвердить,470527,NaN,304874476,NaN,22111008543937,400910860262777094100079001,...,444,NaN,NaN,NaN,304874476.0,NaN,ООО PIT STOP MOTORS,26290,0,2279455

In [113]:
df_lot.vendor_country.value_counts()

ТУРЦИЯ        96
УЗБЕКИСТАН    55
Name: vendor_country, dtype: int64

In [114]:
df_lot.vendor_foreign.value_counts()

SUKRAN TIBBI URUNLER TIC. VE SANAYI ANANIM SIRKET    96
"DIATECH SA" LLC                                     37
MEDOL INVESTMENTS LIMITED                            18
Name: vendor_foreign, dtype: int64

In [115]:
df_lot.isna().sum()

id_x                  0
created_at_x          0
acc                   0
action_name        8978
contract_num_x        0
errmsg            47784
inn_x                 0
kls               57962
lot_id                0
ls_x                  0
mfo                   0
pay_id                0
reg_dat               0
state                 0
summa                 0
version_x             0
request_id_x          0
response_id           0
id_y                  0
created_at_y          0
etp_id                0
p_avans              12
avans_day             0
beneficiar            0
contract_beg          0
contract_dat          0
contract_end          0
contract_id           0
contract_num_y        0
dvr                   0
inn_y                 0
lot_date1         14654
lot_date2         14654
ls_y                  0
maloy                 0
organ                 0
pnfl              56945
proc_id               0
purpose               0
raschot               0
reestr_id         17973
spok                  0
sum_nds           12405
p_summa               0
vendor_acc           75
vendor_bank           0
vendor_country    58047
vendor_foreign    58047
vendor_info       58047
vendor_inn           77
vendor_kls        55699
vendor_name          75
vendor_terr           0
version_y             0
request_id_y          0
dtype: int64

In [116]:
df_lot.nunique()

id_x              27522
created_at_x      27522
acc                6880
action_name           4
contract_num_x    18047
errmsg             4119
inn_x              6040
kls                  83
lot_id            24096
ls_x               9487
mfo                 804
pay_id            19685
reg_dat              47
state                 5
summa             12516
version_x           263
request_id_x      27008
response_id       27522
id_y              29262
created_at_y      29262
etp_id                4
p_avans            7553
avans_day            65
beneficiar          200
contract_beg        196
contract_dat        172
contract_end         64
contract_id        1690
contract_num_y    18182
dvr                   3
inn_y              4668
lot_date1           125
lot_date2           117
ls_y               9490
maloy                 2
organ              5055
pnfl                301
proc_id               5
purpose           15857
raschot               3
reestr_id         12808
spok                118
sum_nds            5513
p_summa           12597
vendor_acc         6897
vendor_bank         808
vendor_country        2
vendor_foreign        3
vendor_info           3
vendor_inn         6039
vendor_kls          192
vendor_name        6975
vendor_terr         235
version_y           270
request_id_y      29262
dtype: int64

In [119]:
#have no idea what this is
df_lot['reg_dat'].value_counts()

2022-07-25 05:00:00.000000    21088
2022-07-22 05:00:00.000000     9161
2022-07-26 05:00:00.000000     8368
2022-07-19 05:00:00.000000     5947
2022-07-21 05:00:00.000000     5667
2022-07-20 05:00:00.000000     4282
2022-07-18 05:00:00.000000     2926
2022-07-27 05:00:00.000000      505
2022-06-29 05:00:00.000000       30
2022-07-13 05:00:00.000000       19
2022-06-27 05:00:00.000000       18
2022-05-20 05:00:00.000000       17
2022-07-16 05:00:00.000000       16
2022-04-18 05:00:00.000000       15
2022-07-14 05:00:00.000000       14
2022-06-20 05:00:00.000000       10
2022-02-22 05:00:00.000000       10
2022-05-26 05:00:00.000000        8
2022-04-28 05:00:00.000000        8
2022-01-21 05:00:00.000000        7
2022-06-30 05:00:00.000000        7
2022-07-08 05:00:00.000000        7
2022-01-20 05:00:00.000000        6
2022-04-21 05:00:00.000000        5
2022-04-29 05:00:00.000000        5
2022-05-23 05:00:00.000000        4
2022-03-11 05:00:00.000000        4
2022-06-14 05:00:00.000000        4
2022-04-01 05:00:00.000000        3
2022-05-12 05:00:00.000000        3
2022-02-16 05:00:00.000000        3
2022-02-23 05:00:00.000000        3
2022-04-25 05:00:00.000000        3
2022-07-05 05:00:00.000000        3
2022-01-28 05:00:00.000000        3
2022-03-04 05:00:00.000000        2
2022-06-17 05:00:00.000000        2
2022-03-24 05:00:00.000000        2
2022-05-16 05:00:00.000000        2
2022-01-31 05:00:00.000000        2
2022-06-09 05:00:00.000000        2
2022-06-24 05:00:00.000000        2
2022-04-26 05:00:00.000000        1
2022-04-20 05:00:00.000000        1
2022-07-07 05:00:00.000000        1
2022-06-22 05:00:00.000000        1
2022-05-13 05:00:00.000000        1
Name: reg_dat, dtype: int64

In [121]:
df_lot['etp_id'].value_counts()

1    57151
4      994
3       50
2        3
Name: etp_id, dtype: int64

<b>1 - UZEX
2 - XT-Xarid
3 - Cooperation
4 - Shaffof qurilish

In [124]:
print(df_lot[['created_at_x', 'created_at_y']])

                     created_at_x                created_at_y
0      2022-07-18 12:39:16.915296  2022-07-18 12:37:17.750162
1      2022-07-18 12:42:12.756252  2022-07-18 12:40:12.043801
2      2022-07-18 12:42:15.253240  2022-07-18 12:40:12.066280
3      2022-07-18 12:42:16.953394  2022-07-18 12:40:12.286754
4      2022-07-18 12:42:17.194542  2022-07-18 12:40:12.303185
...                           ...                         ...
58193  2022-07-27 11:40:37.618204  2022-07-27 11:33:56.703708
58194  2022-07-27 11:40:41.605468  2022-07-27 11:33:56.772456
58195  2022-07-27 11:40:43.144253  2022-07-27 11:33:56.805207
58196  2022-07-27 11:40:43.664052  2022-07-27 11:33:56.827215
58197  2022-07-27 11:40:45.217329  2022-07-27 11:33:56.855362

[58198 rows x 2 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227341 entries, 0 to 227340
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            227341 non-null  int64
 1   expense       227341 non-null  int64
 2   fin_year      227341 non-null  int64
 3   kls           151180 non-null  object
 4   npos          227341 non-null  int64
 5   tovar         227341 non-null  object
 6   tovar_amount  227341 non-null  int64
 7   tovar_edizm   227288 non-null  object
 8   tovar_name    227323 non-null  object
 9   tovar_note    9396 non-null    object
 10  tovar_price   227341 non-null  int64
 11  tovar_summa   227341 non-null  int64
dtypes: int64(7), object(5)
memory usage: 20.8+ MB

,id,expense,fin_year,kls,npos,tovar,tovar_amount,tovar_edizm,tovar_name,tovar_note,tovar_price,tovar_summa
0,1,44232200,2022,100022860102327092100075118,1,41.20.40.900-00006,1,0,Услуга по текущему ремонту нежилых зданий,Китоб ХТБ га карашли 40 мактаб биноларини жори...,7040000000,7040000000
1,2,44821190,2022,305122860102337109602018001,1,43.39.19.190-00007,1,0,Услуга текущему ремонту жилых зданий,Текущий ремонт жилого дома Абдураимовой Салтан...,898165100,898165100
2,3,44252110,0,NaN,1,17.23.13.193-00005,80,0,Папка,NaN,1187000,94960000
3,4,44252110,0,NaN,1,13.20.44.120-00001,30,2,Марля медицинская,NaN,3500000,105000000
4,5,44252110,0,NaN,1,16.10.10.119-00002,480,1,Рейка деревянная,NaN,3500000,1680000000
5,6,44252110,0,NaN,1,15.12.12.192-00002,200,0,Сумка,NaN,10500000,2100000000
6,7,44354920,0,NaN,1,26.20.13.000-00001,1,1,Интерактивная панель,NaN,2099000000,2099000000
7,8,44252110,0,NaN,1,11.07.11.120-00001,50,1,Вода питьевая упакованная,NaN,1130435,65000000
8,9,44239000,0,NaN,1,43.22.12.120-00003,2,25,"Услуга по промывке, опрессовке и профилактике ...",NaN,450000000,900000000
9,10,44239000,0,NaN,1,43.22.12.120-00003,2,25,"Услуга по промывке, опрессовке и профилактике ...",NaN,620000000,1240000000