In [1]:
from process import df
import pandas as pd
import numpy as np

#prediction libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

import tensorflow as tf
from tensorflow import keras
import keras

from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1051432 entries, 0 to 1315507
Data columns (total 59 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id_x                1051432 non-null  int64
 1   created_at          1051432 non-null  datetime64[ns]
 2   etp_id              1051432 non-null  object
 3   method_name         1051432 non-null  object
 4   p_avans             1050698 non-null  object
 5   avans_day           1051432 non-null  float64
 6   beneficiar          1051432 non-null  object
 7   contract_beg        1051432 non-null  datetime64[ns]
 8   contract_dat        1051432 non-null  datetime64[ns]
 9   contract_end        1051399 non-null  datetime64[ns]
 10  contract_id         190008 non-null   float64
 11  contract_num        1051432 non-null  object
 12  dvr                 1051432 non-null  float64
 13  gen_id              4626 non-null     float64
 14  inn                 1051432 non-null  object
 15  lot_date1           471012 non-null   datetime64[ns]
 16  lot_date2           471012 non-null   datetime64[ns]
 17  lot_id              1051432 non-null  float64
 18  ls                  1051432 non-null  object
 19  maloy               1051432 non-null  object
 20  organ               1051432 non-null  object
 21  pnfl                42942 non-null    float64
 22  proc_id             1051432 non-null  object
 23  purpose             1051432 non-null  object
 24  raschot             471012 non-null   float64
 25  reestr_id           633560 non-null   float64
 26  spok                1051432 non-null  float64
 27  sum_nds             719125 non-null   float64
 28  p_summa             1051432 non-null  float64
 29  vendor_acc          1051430 non-null  object
 30  vendor_bank         1051430 non-null  object
 31  vendor_country      3928 non-null     object
 32  vendor_foreign      3928 non-null     object
 33  vendor_info         3928 non-null     object
 34  vendor_inn          1051422 non-null  object
 35  vendor_kls          24105 non-null    object
 36  vendor_name         1051432 non-null  object
 37  vendor_terr         1051432 non-null  int64
 38  version             197972 non-null   float64
 39  request_id          1051432 non-null  float64
 40  resultat_method_id  1051432 non-null  int64
 41  specifications_id   1051432 non-null  int64
 42  id_y                1051432 non-null  int64
 43  expense             1051432 non-null  float64
 44  fin_year            1051432 non-null  float64
 45  kls                 1051432 non-null  object
 46  npos                1051432 non-null  int64
 47  tovar               1051432 non-null  object
 48  tovar_amount        1051432 non-null  int64
 49  tovar_edizm         1048012 non-null  object
 50  tovar_name          1051432 non-null  object
 51  tovar_note          3561 non-null     object
 52  tovar_price         1051432 non-null  float64
 53  tovar_summa         1051432 non-null  float64
 54  region_name         1051432 non-null  object
 55  month               1051432 non-null  object
 56  year                1051432 non-null  float64
 57  quarter             1051432 non-null  float64
 58  counts              1051432 non-null  int64
dtypes: datetime64[ns](6), float64(19), int64(8), object(26)
memory usage: 481.3+ MB

,id_x,created_at,etp_id,method_name,p_avans,avans_day,beneficiar,contract_beg,contract_dat,contract_end,...,tovar_edizm,tovar_name,tovar_note,tovar_price,tovar_summa,region_name,month,year,quarter,counts
0,1,2022-07-29 09:28:49.198418,UZEX,RESULTAT,840000000,0.0,-,2022-07-07 05:00:00,2022-07-07 05:00:00,2022-12-31 05:00:00,...,0,Бланки медицинского назначения,None,1400.0,200.00,Сурхандарьинская область,Июль,2022.0,3.0,50382
1,3,2022-07-29 09:28:49.223350,UZEX,RESULTAT,0,0.0,-,2022-07-29 05:00:00,2022-07-29 05:00:00,2022-12-31 05:00:00,...,0,Услуги по установке GPS навигатора,None,652500.0,0.02,Город Ташкент,Июль,2022.0,3.0,240032
2,5,2022-07-29 09:28:49.265323,UZEX,RESULTAT,200200000,10.0,-,2022-07-27 05:00:00,2022-07-27 05:00:00,2022-07-31 05:00:00,...,1,Услуга наполнения газовых баллонов сжатым прир...,None,2600.0,7.70,Сурхандарьинская область,Июль,2022.0,3.0,50382
3,9,2022-07-29 09:28:49.540536,UZEX,RESULTAT,91068750,2.0,-,2022-07-25 05:00:00,2022-07-25 05:00:00,2022-12-31 05:00:00,...,0,Услуги центра регистрации ключей электронных ц...,None,607125.0,0.01,Город Ташкент,Июль,2022.0,3.0,240032
4,9,2022-07-29 09:28:49.540536,UZEX,RESULTAT,91068750,2.0,-,2022-07-25 05:00:00,2022-07-25 05:00:00,2022-12-31 05:00:00,...,0,Услуги центра регистрации ключей электронных ц...,None,607125.0,0.01,Город Ташкент,Июль,2022.0,3.0,240032

In [3]:
df.tovar_price.describe()

count    1.051432e+06
mean     3.123723e+07
std      4.769096e+08
min      0.000000e+00
25%      8.000000e+03
50%      4.900000e+04
75%      7.560000e+05
max      1.739200e+11
Name: tovar_price, dtype: float64

In [16]:
#take one tovar_name and plot tovar_price 
df.tovar_price = pd.to_numeric(df.tovar_price, errors='coerce')

In [17]:
df.tovar_price.describe()

count    1.051432e+06
mean     3.123723e+07
std      4.769096e+08
min      0.000000e+00
25%      8.000000e+03
50%      4.900000e+04
75%      7.560000e+05
max      1.739200e+11
Name: tovar_price, dtype: float64